@use '../base' as *;
@use '../mixins' as *;

.navigation {
    margin-left: auto;
    font-family: $font-secondary;

    .nav-link {
        @include nav-link;
    }

    @media screen and (max-width: #{map-get($breakpoints, lg)}) {
        .nav-link {
            display: none
        }
    }
}