@use '../base' as *;
@use '../mixins' as *;

.feed {
    @include container;
    height: calc(100vh - 58px);

    .post {
        @include post;
        box-shadow: $shadow-card;
        margin-top: 24px;
    }

    .post.skeleton {
        .post__header {
            align-items: center;

            &_avatar {
                @include shimmer('image', $width: 40px, $rounded: full);
            }

            &_name {
                @include shimmer(text, $width: 100px, $rounded: 4px);
            }

            &_bottom {
                @include shimmer(text, $width: 125px, $rounded: 4px);
            }
        }

        .post__images {
            @include shimmer('image', $height: 450px);
        }
    }

    &-spacer-y {
        height: $spacing-unit * 3;
    }
}