@use '../base/' as *;

@mixin nav-link($active-color: $primary-color-500,
    $text-color: $secondary-color-500) {
    text-decoration: none;
    display: inline-flex;
    gap: $spacing-unit;
    align-content: center;
    padding: 16px 10px 16px 0;
    color: $text-color;
    position: relative;
    transition: color 100ms ease-in-out;

    &:after {
        content: '';
        border-radius: 2px;
        position: absolute;
        inset: auto auto 0 50%;
        translate: -50% 0;
        width: 0%;
        height: 2px;
        transition: width 100ms ease-in-out;
        background-color: $active-color;
    }

    &.active {
        color: $active-color;

        &:after {
            transition-delay: 75ms;
            width: 100%;
        }
    }
}