@use '../base' as *;

@mixin post($padding: 24px, $margin-bottom: 24px, $bg-color: #fff) {
    background-color: $bg-color;
    border-radius: 4px;
    font-size: 0.875rem;

    &__header,
    &__interactions {
        padding-inline: $padding;
    }

    &__content {
        padding: 16px $padding;
    }

    &__header {
        padding-top: $padding;
        display: grid;
        align-content: center;
        grid-template: repeat(2, auto) / repeat(2, auto);
        justify-content: start;
        gap: 0 12px;
        font-weight: 500;
        align-items: center;

        &_bottom {
            grid-row: 2;
            grid-column: 2;
            display: flex;
            gap: 0.25em;
            align-items: center;

            &_username {
                color: $blue-color-600;
            }

            &_date {
                color: $secondary-color-500;
                font-weight: 400;
                font-size: 0.75rem;
                font-family: $font-secondary;
            }
        }

        &_name {
            grid-row: 1;
            grid-column: 2;
            font-size: 1rem;
        }

        &_avatar {
            grid-row: 1 / -1;
            grid-column: 1;
        }
    }

    &__images {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        overflow: hidden;

        img {
            object-fit: cover;
            margin: auto;
            height: 100%;
            min-height: 100%;
        }

        @media screen and (max-width: map-get($breakpoints, 'sm')) {
            img:not(:first-child) {
                display: none;
            }
        }
    }

    &__interactions {
        padding: $padding;
        color: $secondary-color-500;
        display: flex;
        justify-content: space-between;

        &_likes {
            display: flex;
            gap: $spacing-unit;
        }

        &_comments button {
            all: unset;
            cursor: pointer;
        }
    }

    &__actions {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px;
        padding: 4px;
        border-top: 1px solid $secondary-color-50;
        margin: 0 24px;

        > button {
            all: unset;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            color: $secondary-color-700;
            cursor: pointer;
            gap: $spacing-unit;

            svg {
                color: $secondary-color-600;
            }

            &.active {
                color: $blue-color-500;

                svg {
                    color: inherit;
                }
            }
        }
    }
}
